extends layout

block content
  div.container-fluid
    div.row.justify-content-center.align-items-center.min-vh-100
      div.col-md-8
        div.border.p-4
          h1.text-center.mb-4= title
          p.text-center.mb-3= info
          p.text-center.mb-3= name
          p.text-center.mb-3= email
          div.text-center
            a.btn.btn-primary(href='/contacts') View Contacts
