extends layout

block content
  div.container-fluid
    div.row.justify-content-center.align-items-center.min-vh-100
      div.col-md-6
        div.card
          div.card-body
            h1.card-title.text-center.mb-4 New Contact
            if msg
              ul.text-danger
                each val in msg
                  li.red= val.msg                     
            form(method='post', action='/contacts')
              .form-group
                label(for='firstName') First Name:
                input.form-control(type='text', name='firstName')
              .form-group
                label(for='lastName') Last Name:
                input.form-control(type='text', name='lastName')
              .form-group
                label(for='emailAddress') Email Address:
                input.form-control(name='emailAddress')              
              .form-group
                label(for='notes') Notes:
                textarea.form-control(name='notes')                
              button.btn.btn-primary.btn-block(type='submit') Save
